.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-template-rows: 0.325fr 0.075fr 0.2fr 0.3fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Logo Logo Logo Logo"
    "Pesquisa Pesquisa Pesquisa Pesquisa"
    "Clima Clima Next_Days_1 Next_Days_1"
    "Next_Days_2 Next_Days_2 Next_Days_2 Next_Days_2"
    "Rodape Rodape Rodape Rodape";
}

.Logo {
    grid-area: Logo;
    width: 100%;
    height: auto;
    background-image: url(../img/logo3.png);
    aspect-ratio: 30 / 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 25px; 
}

.Pesquisa { grid-area: Pesquisa;
align-items: center;
justify-content: center;
display: flex;
gap: 25px;
}

.Clima { grid-area: Clima;
margin-left: 10px;
margin-right: 10px;
}

.Next_Days_1 { grid-area: Next_Days_1; }

.Next_Days_2 {
  grid-area: Next_Days_2;}

.rodape {
  grid-area: Rodape;
  background: linear-gradient(to right, #ececec, #f9f9f9);
  text-align: center;
  padding: 30px 20px;
  border-top: 2px solid #ccc;
  font-family: 'Segoe UI', sans-serif;
}

.rodape h4 {
  margin-bottom: 20px;
  font-weight: 500;
  color: #333;
}
.rodape strong {
  color: #DC853D;
}

html, body , .container {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.container * {
  border: 0px solid #ff0066;
  position: relative;
}

/*.container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}*/

.conf_pos1 {
    display: flex;
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.conf_pos2 {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;
}
.conf_pos3 {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;
}

.add_sombra {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.conf_pos2 h1, .conf_pos2 h2, .conf_pos2 h3, .conf_pos2 h4 {
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

tbody tr:hover {
  background-color: #efefef;
}


.box {
  width: 25%;
  height: auto;
  border-radius: 10px;
  text-align: center;
  font-family: sans-serif;
  transition: padding 0.2s ease, box-shadow 0.2s ease;
}
.box:hover{
  cursor: pointer;
}
.box:empty {
  box-shadow: none;
  padding: 0;
}
.box.has-content {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info_data2, .info_data3, .info_data4, .info_data5, .info_data6, .info_data7 {
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
}

.info_clima2, .info_clima3, .info_clima4, .info_clima5, .info_clima6, .info_clima7{
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  color: #000;
}

.bloco_clima_temperatura {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone_clima{
  font-size: 100px;
  height: min-content;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
}

.icone_clima2, .icone_clima3, .icone_clima4, .icone_clima4, .icone_clima5, .icone_clima6, .icone_clima7 {
  font-size: 40px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
}

.info_clima{
  height: min-content;
}
.info_min_max{
  width: 100%;
  height: min-content;
}
.info_temperatura{
  width: 100%;
  height: min-content;
}

.Next_Days_1{
  max-width: 100%;
}

.container1, .container2{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}